.notify {
    background-color: var(--color-primary);
    border-radius: 20px;
    margin: 20px;
    position: sticky;
    width: 320px;
    height: max-content;
    color: var(--color-ascent1);
    padding: 10px 20px 10px 20px
 
}


.notify .nofity-title{
    display: flex;
    align-items: center;
    justify-content: space-evenly   ;
   
}

.notify .nofity-title h1 {
    font-size: 24px;
    padding-bottom: 10px;
}

.Nofity-icon{
    color: var(--color-blue);
    padding-bottom: 10px;
}