.post {
  position: relative;
  /* Make the post-box a positioning context */
  width: 40%;
  background-color: var(--color-primary);
  margin-top: 20px;
  border-radius: 20px;
  padding: 20px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  height: max-content;
}


.post-box {
  display: flex;
  margin-bottom: 20px;
}

.img-box img {
  width: 50px;
  border-radius: 60px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.post-box textarea {
  outline: none;
  font-size: 17px;
  word-wrap: break-word;
  word-break: break-all;
  background-color: transparent;
  border: none;
  margin-left: 20px;
  color: var(--color-ascent1);
  resize: none;
  width: calc(100% - 80px);

}

.post-btn {
  padding-top: 10px;
  align-self: flex-end;
  
}

.post-btn button {
  font-size: large;

}