.feed {
    overflow-y: auto;
    border-radius: 10px;
    position: sticky;
    max-height: calc(100vh - 180px); /* Adjust the value according to your design */
}

.users-posts {
    background-color: var(--color-primary);
    padding: 10px 20px 20px 20px;
    height: max-content;    
}

.users-info {
    display: flex;
}

.users-img-box {
    display: flex;
    align-self: center;
}


.users-img-box img {
    width: 45px;
    border-radius: 60px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.users-names {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    color: var(--color-ascent1);
    font-size: 15px;
    font-weight: 300;
    flex-wrap: wrap;
}

.users-names h4{
 font-weight: 600;
}

.comment-box {
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(44, 252, 2);
    margin: 20px;
}