.sidebar {
    max-height: 980px;
    min-width: 250px;
    position: sticky;
    top: 50px;
    padding: 20px;
    margin: 20px 25px 20px 6% !important;
    color: var(--color-ascent1);
    background-color: var(--color-primary);
    border-radius: 20px;
    flex-direction: column;
}

.sidebar-info {
    display: flex;
}

.avatar-box {
    display: flex;
    align-self: center;
}

.avatar-box img {
    width: 50px;
    border-radius: 60px;
    object-fit: cover;
    aspect-ratio:  1 / 1;
}

.profile-name {
    width: 200px;
    font-size: 16px;
    padding-left: 15px;
}

.account-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-blue);
}

.follow-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 10px;
    gap: 20px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebarWrapper {
    padding: 20px;
}

.sidebarList {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarIcon {
    margin-right: 15px;
}

.sidebarButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.sidebarHr {
    margin: 20px 0;
}

.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 5px;
}

.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebarFriendImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

/* Scrollbar styling */
/* ::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: crimson;
}

::-webkit-scrollbar-track {
    background-color: lightgrey;
} */
